body {
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

a {
  color: #1db954;
  text-decoration: none;
}

.navbar {
  padding: 1rem;
  background: #181818;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 2rem;
  max-width: 960px;
  margin: auto;
}
